/* スタイルの追加 */
#map {
    border: 1px solid #ccc; /* 地図の枠線 */
}

/* OpenStreetMapのスタイル */
.leaflet-container {
    background-color: #f0f0f0; /* 陸地の背景色を灰色に設定 */
}

/* 海のスタイル */
.leaflet-tile-pane {
    background-color: #000; /* 海の背景色を黒色に設定 */
}

/* 地名や境界線の非表示 */
.leaflet-control-attribution, .leaflet-control-layers, .leaflet-control-zoom {
    display: none; /* 地名や境界線を非表示にする */
}
